@font-face {
  font-family: "ChaletComprime";
  src: url("../../public/assets/fonts/ChaletComprime.ttf");
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #282828;
  color: #fff;
}

.header {
  height: 80px;
  padding: 0 80px;
  border-bottom: 1px solid #282828;
  background-color: #0b0b0b;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  display: flex;
  gap: 15px;
  font-family: "Chalet";
  font-size: 12px;
  align-items: center;
}

.header__logo img {
  width: 70px;
  height: 70px;
}

.header__navbar {
  display: flex;
  gap: 30px;
}

.header__link {
  padding: 30px;
  color: #e8e8e8;
  font-weight: bolder;
  font-size: 15px;
  font-family: "Chalet";
}

.header__link:hover {
  border-bottom: 2px solid #fff;
}

.banner {
  display: flex;
  position: relative;
  min-height: calc(100vh - 80px);
}

.banner::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.85),
    rgba(0, 0, 0, 0.7) 35%,
    transparent 65%
  );
}

.banner__background {
  width: 100%;
  object-fit: cover;
}

.banner__info {
  position: absolute;
  z-index: 1;
  min-height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
  padding: 80px 80px 80px 170px;
  max-width: 780px;
}

.banner__logo-list {
  display: flex;
  gap: 32px;
}

.banner__logo {
  max-width: 150px;
}

.banner__title {
  font-family: "ChaletComprime";
  font-size: 55px;
}

.banner__description {
  font-family: "Chalet";
  font-size: 18px;
  line-height: 1.6;
}

.banner__btn-buy,
.btn-systems {
  background-color: rgba(255, 255, 255, 0.1);
  border: 0.5px solid #fff;
  border-radius: 4px;
  font-family: "ChaletComprime";
  font-size: 28px;
  text-align: center;
  padding: 20px 40px;
  width: 50%;
  transition: all 0.3s ease-in;
  cursor: pointer;
}

.banner__btn-buy:hover {
  background-color: #fff;
  color: #000;
}

.courses {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 50px;
}

.courses__title {
  font-family: "ChaletComprime";
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 50px;
}

.course {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000;
  width: 50%;
  border-radius: 10px;
  padding: 80px;
  gap: 40px;
}

.course__wallpaper {
  width: 270px;
}

.course__info {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.course__title {
  font-family: "ChaletComprime";
  font-size: 52px;
  font-weight: 700;
}

.course__description {
  color: #e8e8e8;
  font-family: "Chalet";
  font-size: 16px;
  line-height: 1.6;
}

.course,
.course__info {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: center;
}

.course__system-list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: center;
}

.course__system-list li {
  width: 70px;
  height: 70px;
}

.course__system-list li img {
  width: 100%;
  height: 100%;
}

.btn-systems {
  color: #fff;
  width: 100%;
  cursor: pointer;
}

.btn-systems__list {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  transition: all 0.3s ease-in;
  display: none;
  opacity: 0;
}

.btn-systems__list--active {
  display: flex;
  opacity: 1;
}

.btn-systems__list li {
  padding: 20px;
}

.btn-systems__list li:nth-child(1) {
  border: 1px solid #e44e27;
}

.btn-systems__list li:nth-child(1):hover {
  background-color: #e44e27;
}
.btn-systems__list li:nth-child(2) {
  border: 1px solid #1d79b0;
}

.btn-systems__list li:nth-child(2):hover {
  background-color: #1d79b0;
}

.btn-systems__list li:nth-child(3) {
  border: 1px solid #fcdb24;
}

.btn-systems__list li:nth-child(3):hover {
  background-color: #fcdb24;
}

.btn-systems__list li:nth-child(4) {
  border: 1px solid #06d8fb;
}

.btn-systems__list li:nth-child(4):hover {
  background-color: #06d8fb;
}
.btn-systems__list li:nth-child(5) {
  border: 1px solid #76d5cf;
}

.btn-systems__list li:nth-child(5):hover {
  background-color: #76d5cf;
}
